@model gestion_riad_projet_fin_etude.Models.Employé

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url('../../Content/image/image_aceuil/pexels-pixabay-414645.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            font-family: Arial, Helvetica, sans-serif;
        }

        .form-horizontal {
            max-width: 380px;
            margin: auto;
            margin-top: 70px;
            background-color: rgba(0,0, 0,0.8);
            text-align: center;
            border-radius: 20px;
            padding: 40px;
            color: #ffff;
            box-sizing: border-box;
        }

        .form-control {
            width: 100%;
            margin: 20px 35px;
            outline: none;
            background-color: transparent;
            color: #ffff;
            padding: 10px 6px;
            font-size: 18px;
            font-weight: bold;
            box-sizing: border-box;
            border: none;
            border-bottom: 1px #fff solid;
        }

        .control-label {
            color: goldenrod;
            text-align: center;
            text-transform: capitalize;
            font-weight: bold;
            margin-left: -10px;
        }

        .btn {
            width: 80%;
            border-radius: 12px;
            padding: 10px;
            background-color: #1a77b0;
            color: #fff;
            font-size: 20px;
            outline: none;
            cursor: pointer;
            margin: 30px 50px 0px 0px;
            border: solid 2px black;
        }

            .btn:hover {
                background-color: #f5e4ae;
                text-decoration: none;
            }

        h3 {
            color:red;
            text-align: center;
            text-transform: capitalize;
            font-weight: bold;
        }

        h1 {
            color: white;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-style: italic;
            text-align: center;
        }

        span {
            background-color: orangered;
        }
        h4 {
            color: #f5e4ae;
            font-weight: bold;
        }

        .dl-horizontal dt, dd {
            color: black;
            font-weight: bold;
        }
        .dl-horizontal dd {
            color: white;
            font-weight: bold;
        }
        .dl-horizontal{
            background-color:rgba(255,0,0,0.5);
            border-radius:20px;
            border:solid 1px white;
            width:500px;
            height:300px;
            padding:45px 0px 0px 100px;
         }
        a{
            color:white;
            font-weight:bold;
        }
          

        

        
      
    </style>
</head>
<body>

    <br />
    <h3>voullez-vous vraiment supprimer cet Employé ?</h3>

    <h4>Information d'employé</h4>
    <hr />
    <div class="aff">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nom_empl)  :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nom_empl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Prénom_empl) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prénom_empl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.télé_empl) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.télé_empl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.repos) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.repos)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dat_embouchement) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dat_embouchement)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gerant.Nom_gerant) :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gerant.Nom_gerant)
            </dd>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Supprimer" class="btn btn-default" />
                    <br />
                    <br />
                    <span style="background-color:gold;border:solid 2px black;padding:10px 25px 10px 25px;border-radius:10px;margin-left:80px;">@Html.ActionLink("Back to List", "Index")</span>
                </div>
            }
        </dl>
        

        
    </div>
</body>
</html>


